<div class="container" style="margin-top: 100px">
    <div class="container col s12">
        <div class="card col s12">
            <div class="divider"></div>
            <h5 class="card-header center-align">Vigilância</h5>
            <div class="divider"></div> </div>

        <div class="card">
            <div class="divider"></div>
            <h5 class="card-header center-align">Leitos UTI-III</h5>
            <div class="divider"></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                            <div class="rowmodal">
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 1</a>
                                <!-- Modal Trigger -->
                                <div class="col s1"></div>
                                <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 2</a>
                                <!-- Modal Trigger -->
                                <div class="col s1"></div>
                                <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 3</a>
                                <!-- Modal Trigger -->
                                <div class="col s1"></div>
                                <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 4</a>
                                <!-- Modal Trigger -->
                            </div>
                            <div class="rowmodal">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 1</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 2</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 3</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 4</a>
                                <!-- Modal Trigger -->
                            </div>
                            <div class="rowmodal">
                                <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 9</a>
                            </div>
                            <br><br><br></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="divider"></div>
            <h5 class="card-header center-align">Leitos UTI-IIB</h5>
            <div class="divider"></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="rowmodal">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 10</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 11</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 12</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 13</a>
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 14</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="divider"></div>
            <h5 class="card-header center-align">Leitos UTI-IIA</h5>
            <div class="divider"></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="rowmodal">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 15</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 16</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 17</a>
                                    <!-- Modal Trigger -->
                                    <div class="col s1"></div>
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 18</a>
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 19</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="divider"></div>
            <h5 class="card-header center-align">Leito Isolado</h5>
            <div class="divider"></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="rowmodal">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger btnleito col s2" href="#modal1">Leito 20</a>
                                    <!-- Modal Structure -->
                                    <div id="modal1" class="modal modal-fixed-footer modalleito">
                                    <div class="modal-content">
                                        <h5 class="card-header center-align">Dados Paciente do Leito</h5>
                                        <div class="divider"></div>
                                        <div class="row">
                                            <p class="col s4">Recém Nascido de: <label class="lblleito"> Leidiane da Silva </label></p>
                                            <p class="col s4">Nome do Neonato: <label class="lblleito"> Beatriz Vitória </label></p>
                                            <p class="col s3">Número de Prontuário: <label class="lblleito">1452548</label> </p>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s3">
                                                <select>
                                                    <option value="" disabled selected>Status Neonato</option>
                                                    <option value="1">Alta</option>
                                                    <option value="2">Internado</option>
                                                    <option value="3">Óbito</option>
                                                    <option value="3">Suspenso</option>
                                                </select>
                                                <label>Status Neonato</label>
                                            </div>
                                        </div>
                                        <h5 class="card-header center-align">Dispositivos Invasivos</h5>
                                        <div class="divider"></div>
                                        <div class="container containerleito">
                                            <div class="row">
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">CVC Flebotomia</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">CVC Umbilical</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">CVC PICC</span>
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="row">
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">CVC Intracath</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">Entubação</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">Sonda Vesical</span>
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="row">
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">Nutrição Parental</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">Dreno</span>
                                                    </label>
                                                </p>
                                                <p class="col s4">
                                                    <label class="lblleito">
                                                        <input type="checkbox" />
                                                        <span class="spanleito">CVP</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="container"> <h5 class="card-header center-align" style="margin-top: 50px">Antimicrobianos</h5></div>
                                        <div class="divider"></div>
                                        <div class="container containerleito">
                                            <div class="  col s3"></div>
                                            <div class=" input-field col s8">
                                                <form action="#">
                                                    <p>
                                                        <label class="lblleito"> Faz-se uso de algum Antimicrobiano?
                                                            <input name="group1" type="radio" checked />
                                                            <span>Sim</span>
                                                        </label>
                                                        <label>
                                                            <input name="group1" type="radio" />
                                                            <span>Não</span>
                                                        </label>
                                                    </p>
                                            </div>
                                        </div>
                                        <div class="col s2 m12 offset-m2 l6 offset-l3">
                                            <div class="card-panel grey lighten-5 z-depth-1">
                                                <div class="row">
                                                    <div class=" rowleito ">
                                                        <div class="col s10">
                            <span class="black-text">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Antimicrobiano</th>
                                        <th>Data de Início</th>
                                        <th>Data de Término</th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="col 6">
                                                <input type="text" class="text">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-field col s6">
                                                <input type="text" class="number-button">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-field col s6">
                                                <input type="text" class="number-button">
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                                        </td>
                                    </tbody>
                                </table>
                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat btnmodalleito">Salvar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    </div>
</div>





<script>
   // Inicializador Modal//

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });

    // Inicializador Select //

   document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('select');
       var instances = M.FormSelect.init(elems, options);
   });

   // Or with jQuery

   $(document).ready(function(){
       $('select').formSelect();
   });

   // Inicializador DatePicker //
   document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.datepicker');
       var instances = M.Datepicker.init(elems, options);
   });

   // Or with jQuery

   $(document).ready(function(){
       $('.datepicker').datepicker();
   });

</script>