<div class="container">
    <br/>
    <h5 class="green-text text-darken-3">Consulta de processos</h5>
    <hr/>
    <br/>
</div>

<h6>Informe o número do processo/protocolado que você recebeu no formato: XXXXX.XXXXXX/XXXX-XX.</h6>
<span>Ex: 00001.000000/2010-10.</span>
<br/>
<br/>
<br/>

<div class="row">
    <form class="col s12 m5 l6">

            <div class="input-field col s12 m8 l8">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Número do processo/protocolado</label>
            </div>
            <div class="input-field col s12 m4 s4 center">
                <button class="btn-flat waves-effect waves-green" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>

    </form>
</div>


<script type="text/javascript" src="./contents/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="./libs/inicializadores.js"></script>
<script src="./libs/jquery-3.2.1.min.js" type="text/javascript"></script>