<div class="container">
    <br/>
    <h5 class="green-text text-darken-3">Contatos</h5>
    <hr/>
    <br/>
</div>

<div class="row">

    <div class="col s12 m5 l8">
        <h5 class="blue-grey-text darken-1">Nesta seção são divulgadas as informações de contato (telefone, endereço) e
            horário de atendimento ao público do IFTM e de seus respectivos campi.</h5><br/>
        <span><strong>Instituto Federal de Educação, Ciência e Tecnologia do Triângulo Mineiro</strong></span><br/>
        <span><strong>CNPJ:</strong> 10.695.891/0001-00<br/><br/><br/>

        <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Reitoria</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Av. Doutor Randolfo Borges Júnior, 2900 - Bairro: Univerdecidade - CEP: 38064-300 - Uberaba/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3326-1100 / Fax: (34) 3326-1101</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> Segunda a Sexta-feira, das 8h às 17h</span>
        </div>

        <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Avançado Campina Verde</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Fazenda Campo Belo - Rodovia BR 364, km 153 - Bairro: Zona Rural - CEP: 38270-000 - Campina Verde/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong>  Recepção (34) 9181-4785</span><br/>
        </div>

        <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Ituiutaba</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Rua Belarmino Vilela Junqueira s/nº - Bairro: Novo Tempo 2 - CEP: 38305-200 - Ituiutaba-MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção (34) 3271-4000 / Fax (34) 3271-4001</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> segunda a sexta-feira, das 8h às 21h30</span>
        </div>

         <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Paracatu</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Rodovia MG-188 − KM 167 (Ao lado da FINOM) - Bairro: Zona Rural - CEP: 38600-000 - Paracatu/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (38) 3365-0300 / Secretaria: (38) 3365-0308 / Coordenação Geral de Ensino, Pesquisa e Extensão: (38) 3365-0302 / Núcleo de Apoio Pedagógico: (38) 3365-0312 / Coordenações de Curso: (38) 3365-0313 / Biblioteca: (38) 3365-0315</span><br/>
        </div>

        <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Patos de Minas</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Rodovia BR 365, Km 407 - Distrito Industrial I - Bairro: Planalto - CEP: 38706-328 - Patos de Minas/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3820-8700</span><br/>
        </div>

        <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Patrocínio</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Av. Líria Terezinha Lassi Capuano, 255 - Bairro: Chácara das Rosas - CEP: 38747-792 - Patrocínio/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3515-2100</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> CRCA, NAP e Secretaria Escolar: 07h às 22h | Biblioteca: 08h às 21h | Setores administrativos: 08h às 11h30 e 13h às 17h30</span>
        </div>

            <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Uberaba</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Rua João Batista Ribeiro, 4000 - Bairro: Distrito Industrial II - CEP: 38064-790 - Uberaba/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3319-6000 / Fax: (34) 3319-6001</span><br/>
        </div>

            <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Avançado Uberaba Parque Tecnológico</h5></a><br/>
                <h6 class="white-text"><strong>Unidade 1</strong></h6><br/>
            <span class="white-text"><strong>Endereço:</strong> Av. Doutor Florestan Fernandes, 131 - Bairro: Univerdecidade - CEP: 38064-190 - Uberaba/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3326-1400</span><br/><br/>
                <h6 class="white-text"><strong>Unidade 2</strong></h6><br/>
            <span class="white-text"><strong>Endereço:</strong> Av. Edilson Lamartine Mendes, 300 - Bairro: Parque das Américas - CEP: 38045-000 - Uberaba/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3326-1000 / Fax: (34) 3326-1011</span><br/>
        </div>

            <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Uberlândia</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Fazenda Sobradinho s/nº - Cx. Postal: 1020 - Bairro: Zona Rural - CEP: 38400-970 - Uberlândia/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> PABX: (34) 3233-8800 / FAX: (34) 3233-8833</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> segunda a sexta-feira, das 07h30 às 16h30
Obs. A biblioteca atende até às 21h</span>
        </div>

            <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">IFTM Campus Uberlândia Centro</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Rua Blanche Galassi, 150 - Bairro: Morada da Colina - CEP: 38411-104 - Uberlândia/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3221-4800</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> atendimento administrativo de segunda a sexta-feira, das 7h às 12h e das 13h às 17h </span>
        </div>

            <div class="card-panel green darken-3">
            <a href=""><h5 class="white-text">Polo Presencial - Ibiá</h5></a>
            <span class="white-text"><strong>Endereço:</strong> Escola Municipal Dom José Gaspar - Rua 40, 16 - Bairro: Centro - CEP: 38950-000 - Ibiá/MG</span><br/>
            <span class="white-text"><strong>Telefones:</strong> Recepção: (34) 3631-5787</span><br/>
            <span class="white-text"><strong>Horário de atendimento ao público:</strong> atendimento administrativo de segunda a sexta-feira a partir das 18h - Responsável Airton</span>
        </div>

    </div>

    <div class="col s12 m5 l4 center">
        <a href="/faleconosco"><img style="border-radius: 10px" src="./imgs/xcontato.png.pagespeed.ic.wAr_t3GiMF.webp"></a>
    </div>

</div>


<script type="text/javascript" src="./contents/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="./libs/inicializadores.js"></script>
<script src="./libs/jquery-3.2.1.min.js" type="text/javascript"></script>