<div class="container" style="margin-top: 100px">
<h1>Deus é bom demais da contaaaaaa
SOCORRO
    SUCESSO DA POC </h1> </div>

<table>
    <thead>
    <tr>
        <th>RN</th>
        <th>Neonato</th>
        <th>Mãe</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="col s4">
                <input type="text" class="text">
            </div>
        </td>
        <td>
            <div class="input-field col s4">
                <input type="text" class="number-button">
            </div>
        </td>
        <td>
            <div class="input-field col s4">
                <input type="text" class="number-button">
            </div>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Internado </label></p>
        </td>
        <td>
            <a class="waves-effect waves-light btn-small"><i class="material-icons right">mode_edit</i>Editar</a>
        </td>
    </tr>
    <tr>
        <td>
            <p class="col s4"><label class="lblleito"> 666666 </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Tawane Paula </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Tarick Lorran </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Internado </label></p>
        </td>
        <td>
            <a class="waves-effect waves-light btn-small"><i class="material-icons right">mode_edit</i>Editar</a>
        </td>
    </tr>
    <tr>
        <td>
            <p class="col s4"><label class="lblleito"> 666666 </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Tawane Paula </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Tarick Lorran </label></p>
        </td>
        <td>
            <p class="col s4"><label class="lblleito"> Alta </label></p>
        </td>
        <td>
            <a class="waves-effect waves-light btn-small"><i class="material-icons right">mode_edit</i>Editar</a>
        </td>
    </tr>
    </tbody>
</table>