<div class="container" style="margin-top: 100px">
    <div class="container col s12">
        <div class="card col s12">
            <div class="divider"></div>
            <h5 class="card-header center-align">Pacientes Aguardando Alocação</h5>
            <div class="divider"></div>
            <div class="col s2 m12 offset-m2 l6 offset-l3"> <br><br>
                     <div class="row">
                        <div class=" rowleito ">
                            <div class="col s10">
                            <span class="black-text">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Número de Prontuário</th>
                                        <th>Nome Neonato</th>
                                        <th>Recém Nascido de:</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito">1452548</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito"> Beatriz Vitória </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class=" ">
                                                        <label class="lblleito"> Leidiane da Silva </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col 3">
                                                    <select>
                                                        <option value="1">Alta</option>
                                                        <option value="2">Deslocado</option>
                                                        <option value="3">Óbito</option>
                                                    </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">sync</i>Atualizar</a>
                                                </td>
                                            </tr>
                                    <tr>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito">1452548</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito"> Beatriz Vitória </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class=" ">
                                                        <label class="lblleito"> Leidiane da Silva </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col 3">
                                                    <select>
                                                        <option value="1">Alta</option>
                                                        <option value="2">Deslocado</option>
                                                        <option value="3">Óbito</option>
                                                    </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">sync</i>Atualizar</a>
                                                </td>
                                            </tr>
                                    <tr>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito">1452548</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="">
                                                        <label class="lblleito"> Beatriz Vitória </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class=" ">
                                                        <label class="lblleito"> Leidiane da Silva </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col 3">
                                                    <select>
                                                        <option value="1">Alta</option>
                                                        <option value="2">Óbito</option>
                                                    </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">sync</i>Atualizar</a>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>



<script>

    // Inicializador SELECT //
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>


