<div class="container" style="margin-top: 100px">
    <div class="container col s12">
        <div class="card col s12">
            <div class="divider"></div>
            <h5 class="card-header center-align">Pacientes Aguardando Alocação</h5>
            <div class="divider"></div>
            <div class="col s2 m12 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row">
                        <div class=" rowleito ">
                            <div class="col s10">
                            <span class="black-text">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>número de prontuário</th>
                                        <th>neonato</th>
                                        <th>mãe neonato</th>
                                        <th>status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>
                                                    <div class="col s4">
                                                        <input type="text" class="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-field col s4">
                                                        <input type="text" class="number-button">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-field col s4">
                                                        <input type="text" class="number-button">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-field ">
                                                    <select>
                                                        <option value="1">alta</option>
                                                        <option value="2">deslocado</option>
                                                        <option value="3">óbito</option>
                                                    </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">sync</i>atualizar</a>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

