<div class="container">
    <br/>
    <h5 class="green-text text-darken-3">Portal IF</h5>
    <hr/>
    <br/>
</div>

<h5>Bem-Vindo</h5>
<hr/>
<br/>
<br/>

<div class="row">

    <div class="col s12 m5 l7">

        <div class="card-panel white">
            <span class="green-text text-darken-3"><strong>Usuário</strong></span><br/>
            <span class="blue-grey-text text-darken-1">Para todos os alunos matriculados no IFTM, a identificação de usuário será o seu CPF sem ponto e traço de separação do dígito (Ex. se o CPF for 123.456.789-12 o usuário será 12345678912).
          </span>
        </div>

        <div class="card-panel white">
            <span class="green-text text-darken-3"><strong>Senha</strong></span><br/>
            <span class="blue-grey-text text-darken-1">Caso não consiga realizar o login, resete sua senha clicando no botão "Resetar Senha" e confirme as informações solicitadas.
          </span>
        </div>

        <div class="card-panel white">
            <span class="green-text text-darken-3"><strong>Suporte</strong></span><br/>
            <span class="blue-grey-text text-darken-1">Não conseguindo acessar o portal entre em contato pelo e-mail cts.dtic@iftm.edu.br. Se identifique no e-mail, informando: CPF, nome, câmpus e curso.</span>
        </div>

    </div>

    <div class="col s12 m5 l5"><br/>

        <fieldset class="z-depth-1">
            <h5 class="center green-text text-darken-3">Entrar no Sistema</h5>

            <form class="col s12">

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="user" type="text" class="validate">
                    <label for="user">Usuario</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="key" type="password" class="validate">
                    <label for="key">Senha</label>
                </div>

                <div class="input-field col s12 center">
                    <button class="btn-flat waves-effect waves-green" type="submit">Entrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                <div class="input-field col s12 center">
                    <button class="btn-flat waves-effect waves-green blue-grey-text" type="submit">Recuperar minha senha
                        <i class="material-icons right">vpn_key</i>
                    </button>
                </div>

                <div class="input-field col s12 center">
                    <a href="/cadastroresponsavel" class="btn-flat waves-effect waves-green blue-grey-text" type="submit">1º Acesso do
                        Responsável (Pais e Filhos)
                    </a>
                </div>

            </form>
        </fieldset>
    </div>

</div>

<script type="text/javascript" src="./contents/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="./libs/inicializadores.js"></script>
<script src="./libs/jquery-3.2.1.min.js" type="text/javascript"></script>